@model List<TblEgitimlerim>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h1>Eğitim Listesi</h1>

<table class="table table-bordered">

	<tr>
		<th>ID</th>
		<th>Başlık</th>
		<th>Alt Başlık 1</th>
		<th>Alt Baslık 2</th>
		<th>Gno</th>
		<th>Tarih</th>
		<th>Sil</th>
		<th>Düzenle</th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>@item.ID</td>
			<td>@item.Baslik</td>
			<td>@item.AltBaslik1</td>
			<td>@item.AltBaslik2</td>
			<td>@item.Gno</td>
			<td>@item.Tarih</td>

			<td>
				<a href="/Egitim/EgitimSil/@item.ID" class="btn btn-danger">Sil</a>
			</td>

			<td>
				<a href="/Egitim/EgitimGuncelle/@item.ID" class="btn btn-success">Güncelle</a>
			</td>

		</tr>
	}
</table>

<a href="/Egitim/EgitimEkle/" class="btn btn-primary">Yeni Eğitim Ekle</a>

